header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 1rem;
}

header a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

header a:hover {
    color: #6f42c1;
}

.login-signup {
    display: flex;
    align-items: center;
}
.login-signup a {
    color: #333;
    margin-left: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.login-signup a:hover {
    color: #6f42c1;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}

#user-info {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#user-info h2 {
    margin-bottom: 10px;
}

#user-info ul {
    list-style: none;
}

#user-info ul li {
    margin-bottom: 10px;
}

#user-info ul li span {
    font-weight: bold;
    margin-right: 5px;
}
.btn {
    background-color: #6f42c1;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #5a32a8;
}
.delete {
    background-color: #de1515;
}

section a {
    text-decoration: underline;
    color: #333;
}