<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <a href="/"><h1>Quiz Game</h1></a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/quizzes/solve">Play</a></li>
            <li><a href="/quizzes/create">Create Quiz</a></li>
        </ul>
    </nav>
    <div sec:authorize="isAnonymous()" class="login-signup">
        <a href="/login">Login</a>
        <a href="/register">Sign up</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="login-signup">
        <a th:href="@{/quizzes/user/0/__${#authentication.name}__}">My Quizzes</a>
        <a th:href="@{/profile/__${#authentication.name}__}">Profile</a>
        <a href="/logout">Logout</a>
    </div>
</header>
<main>
    <section class="banner">
        <h2>Welcome to the Quiz Game</h2>
        <p>Test your knowledge and solve quizzes made by other players!</p>
        <a href="/quizzes/solve" class="btn btn-play">Play Now</a>
        <a href="/quizzes/0" class="btn btn-play">All quizzes</a>
    </section>
    <hr>
    <section class="themes">
        <h2>Select a Theme</h2>
        <div class="themes-grid">
            <div class="themes-row">
                <a th:href="@{/quizzes/science/0}" class="theme-link science">
                    <span>Science</span>
                </a>
                <a th:href="@{/quizzes/history/0}" class="theme-link history">
                    <span>History</span>
                </a>
                <a th:href="@{/quizzes/geography/0}" class="theme-link geography">
                    <span>Geography</span>
                </a>
            </div>
            <div class="themes-row">
                <a th:href="@{/quizzes/food/0}" class="theme-link food">
                    <span>Food</span>
                </a>
                <a th:href="@{/quizzes/sports/0}" class="theme-link sports">
                    <span>Sports</span>
                </a>
                <a th:href="@{/quizzes/technology/0}" class="theme-link technology">
                    <span>Technology</span>
                </a>
            </div>
            <div class="themes-row">
                <a th:href="@{/quizzes/literature/0}" class="theme-link literature">
                    <span>Literature</span>
                </a>
                <a th:href="@{/quizzes/pop/0}" class="theme-link pop">
                    <span>Pop Culture</span>
                </a>
                <a th:href="@{/quizzes/logic/0}" class="theme-link logic">
                    <span>Logic</span>
                </a>
            </div>
        </div>
    </section>
</main>
<hr>
<footer>
    <p>&copy; 2023 Quiz Game. All rights reserved.</p>
</footer>
</body>
</html>
