<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Quizzes</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/script.js"></script>
</head>
<body>

<header>
  <a href="/"><h1>Quiz Game</h1></a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/quizzes/solve">Play</a></li>
      <li><a href="/quizzes/create">Create Quiz</a></li>
    </ul>
  </nav>
  <div class="login-signup">
    <a th:href="@{/quizzes/user/0/__${#authentication.name}__}">My Quizzes</a>
    <a th:href="@{/profile/__${#authentication.name}__}">Profile</a>
    <a href="/logout">Logout</a>
  </div>
</header>
<div class="table-container">
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search by title...">
    <button id="searchBtn" onclick="search()">&#128269;</button>
  </div>

  <table id="myTable">
    <thead>
    <tr>
      <th onclick="sortTable(0)">Theme</th>
      <th onclick="sortTable(1)">Title</th>
      <th onclick="sortTable(2)">Rating</th>
      <th></th>
      <th th:if="${#authentication.name == username}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quiz : ${quizzes}">
      <td><a th:href="@{/quizzes/{theme}/0(theme=${quiz.getTheme()})}" th:text="${quiz.theme}">${quiz.theme}</a></td>
      <td th:text="${quiz.title}"></td>
      <td th:text="${quiz.rating}"></td>
      <td><a th:href="@{/quizzes/{id}/solve(id=${quiz.getId()})}">Solve</a></td>
      <td th:if="${#authentication.name == username}"><a class="text-danger" th:attr="onclick=|confirmQuizDelete('${quiz.getId()}')|">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <div class="paging" >
    <a th:if="${currentPage > 0}" th:href="@{/quizzes/{username}/{page}(username=${username},page=${currentPage - 1})}">&lt;&lt; Previous</a>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/quizzes/{username}/{page}(username=${username},page=${currentPage + 1})}">Next &gt;&gt;</a>
  </div>
</div>

</body>
</html>