<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/script.js"></script>
</head>
<body>
<header>
    <a href="/"><h1>Quiz Game</h1></a>
    <nav>
        <ul>
            <li><a href="/quizzes/0">Quizzes</a></li>
            <li><a href="/quizzes/create">Create Quiz</a></li>
            <li><a href="/users/0">Top Users</a></li>
        </ul>
    </nav>
    <div sec:authorize="isAnonymous()" class="login-signup">
        <a href="/login">Login</a>
        <a href="/register">Sign up</a>
    </div>
    <div sec:authorize="isAuthenticated()" class="login-signup">
        <a th:href="@{/quizzes/user/0/__${#authentication.name}__}">My Quizzes</a>
        <a href="/logout">Logout</a>
    </div>
</header>


<main>
    <section id="user-info">
        <h2>User Card</h2>
        <ul>
            <li><span>Username:</span> <span th:text="${username}"></span> </li>
            <li><span>Joined:</span><span th:text="${createdAt}"></span></li>
            <li><span>Completed Quizzes:</span><span th:text="${completed}"></span></li>
            <li><a th:href="@{/quizzes/{username}/0(username=${username})}"><span >Created Quizzes:</span> <span th:text="${quizzesCreated}"></span></a></li>
            <li th:if="${role.equals('[ADMIN]')}">
                <button th:if="${#authentication.name == username}" type="button" class="btn" onclick="location.href='/users/change-credentials'">Change Credentials</button>
                <button type="button" class="btn delete" th:attr="onclick=|confirmDelete('${username}')|">Delete Account</button>
            </li>
        </ul>
    </section>
</main>
</body>
</html>